
  <% if logged_in? %>
logged in as <%=  current_user.email %>

<form action='/session' method='post'>

  <input type="hidden" name="_method" value="delete">
  <button>logout</button>

</form>
  <% end %>


<a href="/lost_pets/new">Find your pet!</a>
