<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WELCOME TO PET FINDER</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>

    <form class="signup" action="/signup" method="post">

      <label>first name</label>
      <input type="text" name="first_name" >

      <label>last name</label>
      <input type="text" name="last_name" >

      <label>email</label>
      <input type="text" name="email" >

      <label>password</label>
      <input type="password" name="password" >

      <button>sign up here</button>
    </form>

    <div id="map"></div>

    <% @lost_pets.each do |lost_pet| %>

      <img src="<%= lost_pet['image_url'] %>" alt="">

      <a href="/lost_pets/<%= lost_pet['id'] %>">
        <%= lost_pet["pet_name"] %> went missing on <%= lost_pet["lost_date"] %>
      </a>


    <% end %>





    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZdCsjrW3IViy59CQQJet2cFb_bTRrJ_Q&callback=initMap"async defer></script>
  </body>
</html>
