<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PET FINDER</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>
<body>
  <header>

      <h1>
        <a href="/">LOST PET LOGO</a>
      </h1>


      <% if logged_in? %>
        logged in as <%=  current_user.first_name %>

        <form class="logout" action='/session' method='post'>

          <input type="hidden" name="_method" value="delete">
          <button>logout</button>

        </form>

      <% else %>

        <form class='user-login' action="session/new" method="get">
          <button>LOGIN</button>
        </form>

      <% end %>

  </header>

  <a href="/lost_pets/new">Find your pet!</a>

  <!-- <div>
    <input id="address" type="textbox" value="">
    <input type="button" value="Geocode" >
  </div> -->


<%= yield %>



  <script src="/javascripts/application.js"></script>
  </body>
</html>
