<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PET FINDER</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
</head>
<body>

  <h1><a href="/">LOST PET LOGO</a></h1>






  <%= yield %>

  <script src="/javascripts/application.js"></script>
  </body>
</html>
