<h2> Lost Pet </h2>

<form action="/lost_pets" method="post">
  <label>pet name</label>
  <input name="event_name" type="text">

  <label>Address Line 1</label>
  <input name="address_line_1" type="text">

  <label>Address Line 2</label>
  <input name="address_line_2" type="text">

  <label>postcode</label>
  <input name="address_line_1" type="number">

  <label>City</label>
  <input name="city" type="text">

  <label>Date</label>
  <input name="lost_date" type="date">

  <label for="">image</label>
  <input type="text" name="image_url" value="">

  <button>create</button>

</form>
