<form action="/signup" method="post">

  <label>email</label>
  <input type="text" name="email" >

  <label>password</label>
  <input type="password" name="password" >

  <button>sign up here</button>
</form>
