html, body {
       height: 100%;
       margin: 0;
       padding: 0;
       font-family: 'Droid Sans', sans-serif;
       background-color: #FFE4E1
     }

header {
  background-color: #FFE4E1;
  text: #000;
  font-family: 'Pacifico';
  display: block;
}

#map-canvas {
      height: 400px;
      width: 50%;
      display: block;
      margin: 5em auto;
    }

.logo {
  width: 30%;
}

.pets-list {
  height: 30%;
  display: block;
  margin: 5em auto;

}

.pet-image {
    height: 100px;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
}
